body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif; /* Updated font family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Nunito', monospace; /* Optional: Change to Nunito for consistency */
}

h1 {
  color: red;
}
