<!DOCTYPE html>
<html>

<head>
    <title>Groupie-Tracker</title>
    <link href="/static/style.css" rel="stylesheet" href="style.css">
</head>

<body>
    <div class="header">
        <h1>Groupie-Tracker</h1>
    </div>
    <div class="main-body">
        {{ range . }}
        <div class="databox" onclick="location.href='/aboutartist/{{.ID}}';" style="cursor: pointer;">
            <div>
                <img class="imageBand" src="{{.Image}}"></img>
                <h2>Band: </h2>{{.Name}}
                <br>
                <h2>Creation date: </h2>{{.CreationDate}}
                <br>
                <h2>First album:</h2> {{.FirstAlbum}}
            </div>
            <div>
                <h2>Band Members: </h2>
                {{ range .Members }}
                <ul>
                    {{.}}
                </ul>
                {{end}}
            </div>
        </div>
        {{end}}
    </div>
</body>

</html>