<html>
<link rel="stylesheet" type="text/css" href="/common/css/forum.css">

<head>
    <title>Forum: My page</title>
    <link rel="icon" type="image/x-icon" href="./common/css/img/icon.ico">
</head>

<body>
    <div class="background"></div>
    <div class="page-content">
        <div class="menu-bar">
            <div>Hello {{.Session.Username}}! You have {{.Session.UserType}} rights.
                <a href="/"><input type="button" value="Back to topics"></a>
                <a href="/signout"><input type="submit" value="Log out"></a>
            </div>
        </div>

        {{ $rights := .Rights }}
        {{ $usertypes := .UserTypes }}

        {{if or (eq .Session.UserType "ADMIN")}}
        <div class="container">
            <div>Change user type</div>
            <table>
                {{range $right := $rights}}
                <tr class="topic-group">
                    <td>
                        <div>User:</div>
                        <div>{{$right.UserName}}</div>
                    </td>
                    <td>
                        <form method="post" action="/usertype">
                            <input type="hidden" name="user" value="{{$right.UserName}}">
                            <select name="type">
                                {{range $usertype := $usertypes}}
                                <option {{if eq . $right.UserType}} selected {{end}}>{{.}}</option>
                                {{end}}
                            </select>
                            <input type="submit" value="Change rights">
                        </form>
                    </td>
                </tr>
                {{end}}
            </table>
        </div>
        {{end}}
        {{if or (eq .Session.UserType "ADMIN") (eq .Session.UserType "MODERATOR")}}
        <div class="container">
            <div>Pending topics for approval</div>
            <table>
                {{range .Pending}}
                <tr main="{{.TopicID}}" class="topic-group" title="Author: {{.UserName}}">
                    <td>
                        <div>Title: {{.TopicName}} </div>
                        <div>Content: {{.TopicText}}</div>
                        <div>Categories: {{.Categories}}</div>
                        {{if eq .TopicImg "false"}}
                        {{else}}
                        <img src="common/uploaded_images/{{.TopicImg}}" alt="{{.TopicImg}}">
                        {{end}}
                    </td>
                    <td>
                        <div>Created: {{.CreationDate}} by {{.UserName}}</div>
                        <div>Confirm posts to forum:</div>
                        <form method="post" action="/poststatus">
                            <input type="hidden" name="id" value="{{.TopicID}}">
                            <div class="radio">
                                <input type="radio" id="a{{.TopicID}}" name="activate{{.TopicID}}" value="ACTIVE"
                                    onclick="document.getElementById('area{{.TopicID}}').removeAttribute('required')"
                                    required>
                                <label for="a{{.TopicID}}" title="Allow topic into forum">
                                    Allow
                                </label>
                                <input type="radio" id="d{{.TopicID}}" name="activate{{.TopicID}}" value="DECLINE"
                                    onclick="document.getElementById('area{{.TopicID}}').setAttribute('required', 'required')">
                                <label for="d{{.TopicID}}" title="Decline topic from forum">
                                    Decline
                                </label>
                                <textarea id="area{{.TopicID}}" name="area{{.TopicID}}">{{.StatusText}}</textarea>
                                <input type="submit" id="submit{{.TopicID}}" value="Submit">
                            </div>
                        </form>
                    </td>
                </tr>
                {{end}}
            </table>
        </div>
        {{end}}
        <div class="container">
            <div>My Topics</div>
            {{range .MyTopics}}
            <div>{{.}} </div>
            {{end}}
        </div>
        <!-- <div class="container">
            <div>TopicStatus</div>
            {{range .TopicStatus}}
            <div>{{.}} </div>
            {{end}}
        </div> -->

        <!-- <div class="container">
            <div>UserTypes</div>
            {{range .UserTypes}}
            <div>{{.}} </div>
            {{end}}
        </div> -->
        <div class="container">
            <div>My liked and disliked Topics</div>
            {{range .LikeDislike}}
            <div>{{.}} </div>
            {{end}}
        </div>
        <div class="container">
            <div>My commented Topics</div>
            {{range .Comment}}
            <div>{{.}} </div>
            {{end}}
        </div>
        <div class="container">
            <div>Changes on my topics after last login</div>
            {{range .Updates}}
            <div>{{.}} </div>
            {{end}}
        </div>
    </div>
</body>

</html>